/*main.css 20191023 dfgchiang*/
body {
    font-family: Consolas, Monaco, monospace;
    font-size: 1em;
    line-height: 1.33em;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

article {
    position: relative;
    border: 1px solid floralwhite;
    border-width: 1px 0;
    overflow: auto;
}

aside {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 51px;
    background-color: white;
    border: 1px solid silver;
    height: auto;
    overflow: hidden;
    width: auto;
    max-width: 90%;
}

aside.auto {
    box-shadow: -3px 3px 3px 3px gray;
    bottom: auto;
    /*    height: 80%;*/
    width: auto;
}

aside.wide {
    width: 50%;
}

button {
    font-size: 1em;
    margin: 2px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    border-top: 1px solid slategray;
    padding: 2px;
    width: 100%;
}

h1 {
    position: relative;
    cursor: default;
    margin: 0;
}

h2 {
    position: relative;
    background-color: slategray;
    border-bottom: 1px solid silver;
    color: white;
    cursor: default;
    font-variant: small-caps;
    margin: 0;
    padding: 10px;
}

h3 {
    position: relative;
    background-color: lightsteelblue;
    border-bottom: 1px solid lavender;
    cursor: default;
    margin: 0;
    padding: 8px;
}

h4 {
    position: relative;
    background-color: gainsboro;
    border: 1px solid lightgray;
    border-width: 1px 0;
    cursor: default;
    margin: 0;
    padding: 5px;
    text-align: center;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border-bottom: 1px solid slategray;
    height: 50px;
    padding: 5px;
    width: 100%;
}

input {
    font-size: 1em;
    margin: 2px;
}

main {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 51px;
    background-color: whitesmoke;
    border: 1px solid silver;
    height: auto;
    overflow: hidden;
    width: 100%;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    border-bottom: 1px solid slategray;
    height: 50px;
    overflow: hidden;
    padding: 1px;
    width: 100%;
}

ol.menu {
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.menu li {
    border-bottom: 1px solid gainsboro;
    list-style: none;
    margin: 0;
    padding: 8px;
    text-align: justify;
}

ol.menu li:hover {
    background-color: aliceblue;
    border: 1px solid lightblue;
    border-width: 1px 0;
}

section {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid silver;
    height: 40%;
    overflow: hidden;
    width: 100%;
}

/* SPAN FOR ESRI-ICONS */
span.closer {
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: default;
    float: right;
    font-size: large;
    margin-right: 5px;
    padding: 2px 4px;
}

span.closer:hover {
    border: 1px solid lavenderblush;
    margin-left: 20px;
}

span.hicon {
    font-size: 100%;
    font-weight: bold;
    margin: 0 5px;
}

span.navtab {
    border-top: 5px solid white;
    float: right;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 10px;
}

span.navtab:hover {
    background-color: aliceblue;
    border-top: 5px solid lightblue;
}

table.bbtable {
    position: relative;
    border: 1px solid silver;
    border-collapse: collapse;
    height: auto;
    width: auto;
    table-layout: fixed;
}

table.bbtable tr.bbtoprow {
    background-color: azure;
    border: 1px solid dimgray;
    border-width: 1px 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 411;
}

table.bbtable tr:nth-child(even) {
    background-color: whitesmoke;
}

table.bbtable tr:hover {
    background-color: ghostwhite;
}

table.bbtable th {
    border: 1px solid silver;
    border-width: 0 1px;
    padding: 2px 0;
    width: 120px;
}

table.bbtable td {
    position: relative;
    border: 1px solid gainsboro;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 120px;
}

.activeLayer {
    background-color: aliceblue;
    border: 1px solid lightblue;
}

.alname {
    font-size: smaller;
    font-weight: bold;
}

.atotal {
    font-size: 80%;
}

.bb {
    margin: 1px;
    padding: 2px;
    text-align: justify;
    vertical-align: middle;
    width: 90%;
}

input[type=button].bb {
    text-align: center;
}

label.bb {
    margin-right: 8px;
    width: auto;
}

.bookmark {
    margin: 2px;
    padding: 4px;
    width: 90%;
}

.bug {
    color: red;
}

.centered {
    text-align: center;
}

.hide {
    display: none;
}

.issue {
    color: magenta;
}

.layerlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.layeritem {
    border-bottom: 1px solid lightcyan;
    line-height: 1.23em;
    list-style: none;
    padding: 2px 0;
}

.layericon {
    margin-right: 5px;
    padding: 2px;
    text-decoration: none;
}

.layericon:hover {
    background-color: antiquewhite;
}

.Group,
.MapServer,
.MapImageLayer,
.map-image {
    font-style: italic;
}

.sublayer {
    background-color: white;
    font-style: normal;
}

.sublayer:hover {
    background-color: aliceblue;
}

.maindiv {
    position: relative;
    top: 0px;
    bottom: 10px;
    clear: both;
    height: 94%;
    overflow: auto;
}

.mainlow {
    position: relative;
    top: 0px;
    bottom: 10px;
    clear: both;
    height: 88%;
    overflow: auto;
}

.margined {
    position: relative;
    border: 1px solid floralwhite;
    margin: 5px;
}

.msgx {
    display: none;
}

.noscroll {
    overflow: hidden;
}

.padded {
    position: relative;
    padding: 5px;
}

.subdiv {
    position: relative;
    clear: both;
    height: auto;
    overflow: auto;
    padding: 5px;
}

.feature:hover {
    background-color: aliceblue;
}

.todo {
    color: tomato;
}

.yet {
    align-self: center;
    border: 1px solid indianred;
    border-width: 1px 5px;
    color: brown;
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    margin: 5px 10%;
    padding: 5px;
    position: relative;
    text-align: center;
}

.yet::after {
    content: '\0020\0020\2022';
}

.yet::before {
    content: '\2022\0020\0020';
}

#bbtablediv {
    position: relative;
    height: 45%;
    width: 100%;
    overflow: auto;
}

#hey {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: rgb(100, 100, 100, 0.5);
    display: flex;
    justify-content: center;
}

#hello {
    background-color: white;
    border: 5px solid lavenderblush;
    border-radius: 5px;
    opacity: 1.0;
}

#loadingbar {
    position: absolute;
    left: 0;
    top: 51px;
    right: 0;
    height: auto;
    width: auto;
    background-color: cornsilk;
    border: 2px solid darkorange;
    color: steelblue;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    padding: 1%;
    text-align: center;
    vertical-align: middle;
    word-spacing: 2em;
}

#msgbar {
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
    height: 60%;
    width: 60%;
    background-color: white;
    border: 2px solid silver;
    overflow: hidden;
}

#viewdivide {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

#warning {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: cornsilk;
    border: 5px solid indianred;
    border-radius: 3px;
    color: firebrick;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.23em;
    margin: 1%;
    padding: 1%;
    z-index: 999;
}

/* ------------ESRIAN CSS---------------*/
#viewDiv {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#view3div {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.esri-popup .esri-popup-header .esri-title {
    font-size: 18px;
    font-weight: bolder;
}

.esri-popup .esri-popup-body .esri-popup-content {
    font-size: 14px;
}

.esri-sublayers {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.esri-sublayers-item {
    flex-grow: 4;
    background-color: rgba(34, 111, 14, 0.5);
    color: #fff;
    margin: 1px;
    width: 50%;
    padding: 20px;
    overflow: auto;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
}

.esri-visible-layer {
    color: #fff;
    background-color: #226f0e;
}
