/* deantest-mapp.css 20180909 dchiang 20181023
Copyright © 2018, State of Grace, Department of Fun and Games
[GNU GPL v3](https://www.gnu.org/licenses/)
[FreeBSD](https://www.freebsd.org/copyright/freebsd-license.html)
*/
/* 
    Created on : Oct 23, 2018, 10:49:44 AM
    Author     : dchiang
*/
html, body, #mapview, #sceneview {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
body {
    font-family: Consolas, Monaco, Arial, monospace;
    font-size: 123%;
}
aside {
    position: fixed;
    top: 50px;
    left: auto;
    right: 0;
    bottom: 0;
    height: auto;
    width: 35%;
    background-color: white;
    border: 1px solid slategray;
    border-width: 0 0 0 1px;
    z-index: 200;
}
aside.left {
    left: 0;
    right: auto;
    width: 30%;
    border: 1px solid slategray;
    border-width: 0 1px 0 0;
}
button {
    font-size: 100%;
}
details {
    margin: 5px;
}
dialog::backdrop {
    background: rgba(128, 128, 128, 0.5);
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: 100%;
    background-color: ghostwhite;
    border-top: 1px solid slategray;
    display: none;
    font-size: medium;
    opacity: 0.66;
    z-index: 300;
}
h1 {
    font-family: Impact, 'Arial Black', fantasy;
}
h2 {
    font-family: Georgia, serif;
}
h3 {
    font-family: Verdana, Geneva, Tehoma, sans-serif;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
}
h5 {
    font-family: 'Comic Sans MS', cursive;
    font-variant: small-caps;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid slategray;
    display: none;
    z-index: 400;
}
input {
    font-size: large;
}
main {
    position: fixed;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    background-color: gainsboro;
    border: 1px solid slategray;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid slategray;
    z-index: 400;
}
ol.pl {
    list-style: none;
    margin: 0;
    padding: 0;
}
li.pl {
    border-bottom: 1px solid gainsboro;
    font-size: large;
    list-style: none;
    margin: 0;
    padding: 5px;
}
li.pl:hover {
    background-color: azure;
}
ul.pl {
    list-style: none;
    margin: 0;
    padding: 0;
}
section {
    border-bottom: 1px solid snow;
}
select {
    font-size: 100%;
}
table {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid floralwhite;
}
td {
    border: 1px solid floralwhite;
    padding: 2px;
    vertical-align: top;
}
th {
    border: 1px solid floralwhite;
    padding: 2px;
    vertical-align: top;
}
table.cgrid {
    background-color: white;
    border: 1px solid slategray;
    border-collapse: collapse;
    margin: 5px;
}
table.cgrid td {
    border: 1px solid silver;
    padding: 2px;
}
table.cgrid th {
    border: 1px solid silver;
    border-right: 2px solid dimgray;
    padding: 2px;
}
table.cgrid tr:hover {
    background-color: aliceblue
}
table.cgrid tr:nth-child(even) {
    background-color: whitesmoke;
}
table.cgrid tr:nth-child(even):hover {
    background-color: aliceblue;
}
table.flat {
    background-color: white;
    border: 1px solid dimgray;
    border-collapse: collapse;
    margin: 5px;
}
table.flat td {
    border: 1px solid gainsboro;
    vertical-align: top;
    padding: 2px;
}
table.flat th {
    border: 1px solid silver;
    border-bottom: 2px solid gray;
    font-size: small;
    padding: 1px 5px;
}
table.flat tr:hover {
    background-color: aliceblue;
}
table.flat tr:nth-child(even) {
    background-color: ghostwhite;
}
table.flat tr:nth-child(even):hover {
    background-color: aliceblue;
}
table.vanilla {
    background-color: white;
    border: 1px solid beige;
    border-collapse: collapse;
    margin: 5px;
}
table.vanilla td {
    border: 1px solid gray;
    vertical-align: top;
    padding: 2px;
}
table.vanilla th {
    border: 1px solid silver;
    border-bottom: 2px solid silver;
    font-size: small;
    padding: 1px 5px;
}
table.vanilla th:hover {
    background-color: antiquewhite;
}
table.vanilla tr:hover {
    background-color: ivory;
}
table.vanilla tr:nth-child(even) {
    background-color: snow;
}
table.vanilla tr:nth-child(even):hover {
    background-color: ivory;
}
tr.even {
    background-color: white;
}
tr.even:hover {
    background-color: lavender;
}
tr.odd {
    background-color: ghostwhite;
}
tr.odd:hover {
    background-color: lavender;
}
th {
    border: 1px solid ghostwhite;
    padding: 0 5px;
}
#cat {
    position: fixed; bottom: 55px; left: 25%; right: 25%; top: 55px;
    height: auto; width: 50%;
    background-color: white;
    border: 1px solid slategray;
    border-width: 1px 3px 4px 2px;
    box-shadow: 2px 3px 4px #888888;
    z-index: 400;
}
#dashbar {
    position: fixed; bottom: 0; left: 0;
    height: 45%; width: 69.6%;
    z-index: 300;
}
#databar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: auto;
    height: 35%;
    width: 100%;
    background-color: white;
    border-top: 1px solid slategray;
    z-index: 300;
}
#databar-toggle {
    position: fixed;
    right: 50%;
    bottom: 0;
    font-size: large;
    z-index: 300;
}
#foobar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: auto;
    height: 40%;
    width: 60%;
    background-color: white;
    border-top: 1px solid slategray;
    z-index: 300;
}
#mapview {
    position: absolute;
    left: 0;
    top: 0;
}
#overviewDiv {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 240px;
    height: 160px;
    border: 1px solid slategray;
    box-shadow: 2px 3px 4px #888888;
    z-index: 101;
}
#extentDiv {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 102;
}
#msgbar {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 50%;
    border: 2px solid gray;
    z-index: 800;
}
#msgbar-toggle {
    position: fixed;
    right: 30px;
    bottom: 0;
    font-size: large;
    z-index: 800;
}
#msgbox {
    position: relative;
    bottom: 0;
    height: 88%;
    max-height: 94%;
    background-color: black;
    color: whitesmoke;
    font-size: smaller;
    overflow: auto;
    padding: 5px;
}
#nav-menu {
    position: fixed;
    top: 51px;
    right: 0;
    background-color: white;
    border: 1px solid slategray;
    border-width: 0 1px 3px 2px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 444;
}
#splash {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 500;
}
#splash-cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: silver;
    opacity: 0.55;
}
#splash-main {
    position: absolute;
    left: 10%;
    top: 5%;
    right: 10%;
    height: auto;
    width: auto;
    background-color: white;
    border: 5px solid silver;
    border-radius: 5px;
    font-size: smaller;
    opacity: 1.0;
    padding: 10px;
}
#tools {
    z-index: 300;
}
.a_login {
    color: steelblue;
    font-size: medium;
    text-decoration: none;
}
.a_login:hover {
    background-color: azure;
    text-decoration: underline;
}
.activelayer {
    background-color: azure;
    border: 1px solid steelblue !important;
    font-weight: bold;
    padding: 1px;
}
.activelayer:hover {
    background-color: aliceblue;
    border: 1px solid steelblue !important;
    font-weight: bold;
    padding: 1px;
}
.alayer {
    font-weight: bold;
}
.atool {
    font-style: italic;
}
.azura {
    color: azure;
}
.cursd {
    cursor: default;
}
.desc {
    border: 1px solid cadetblue;
    font: italic normal normal medium Georgia, serif;
    margin: 5px;
    padding: 5px;
}
.go {
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 0 2px;
    padding: 1px 2px;
    text-decoration: none;
}
.go:hover {
    background-color: whitesmoke;
    border: 1px solid silver;
}
.h2bar {
    background-color: whitesmoke;
    border-bottom: 1px solid silver;
    cursor: default;
    margin: 0;
    padding: 5px;
}
.h3bar {
    background-color: ghostwhite;
    border: 1px solid silver;
    border-width: 1px 0;
    cursor: default;
    margin: 0;
    padding: 5px;
}
.h4bar {
    background-color: gainsboro;
    border-bottom: 1px solid silver;
    cursor: default;
    margin: 0;
    padding: 3px;
}
.h1 {
    color: #1a5f8d;
    margin: 0;
    padding: 5px;
}
.h2 {
    background-color: #4d7fb2;
    color: #ecece7;
}
.h3 {
    background-color: whitesmoke;
    border-bottom: 1px solid silver;
    color: slategray;
}
.h4 {
    background-color: #428bca;
    border-bottom: 1px solid silver;
    color: silver;
}
.larger {
    font-size: larger;
}
.layerslist {
    list-style: decimal outside none;
    margin: 1px;
    padding: 1px;
}
.layeritem {
    list-style: none;
    margin: 1px;
    padding: 1px;
}
.menulitem {
    background-color: white;
    border: 1px solid silver;
    cursor: default;
    font-family: Consolas, Monaco, monospace;
    font-size: larger;
    list-style: none;
    margin: 0;
    padding: 5px;
}
.menulitem:hover {
    background-color: whitesmoke;
}
.nav-tab {
    border: 2px solid transparent;
    box-sizing: border-box;
    float: right;
    height: 100%;
    padding: 5px 8px 0 8px;
    vertical-align: middle;
}
.nav-tab:hover {
    background-color: whitesmoke;
    border-top: 2px solid slategray;
}
.outd {
    border: 1px solid ghostwhite;
    font-size: medium;
    margin: 5px;
    padding: 5px;
}
.panel-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.panel-listitem {
    background-color: white;
    border-bottom: 1px solid silver;
    cursor: default;
    display: block;
    list-style: none;
    margin: 0px;
    padding: 5px;
}
.panel-listitem:hover {
    background-color: lavender;
}
.panel-box {
    position: relative;
    height: 96%;
}
.panel-low {
    position: relative;
    height: 85%;
    overflow: auto;
}
.panel-main {
    position: relative;
    height: auto;
    max-height: 93%;
    overflow: auto;
}
.panel-tall {
    position: relative;
    height: 96%;
    overflow: auto;
}
.selection {
    /*lavenderblush*/
    background-color: lavender;
    border: 1px solid lightpink;
}
.sublayer {
    border-bottom: 1px solid ghostwhite;
    margin-left: 10px;
    padding: 1px;
}
.toc {
    list-style: decimal;
    margin-left: 1px;
    padding: 1px;
}
.tooltitle {
    background-color: lightslategray;
    border-top: 1px solid whitesmoke;
    color: white;
    cursor: default;
    /*font-weight: bold;*/
    margin: 1px;
    padding: 1px;
    position: relative;
    text-align: center;
}
.tooltitle .tooltiptext {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 1px 2px;
    position: absolute;
    top: 150%;
    left: 50%;
    margin-left: -100px;
    right: 50%; top: 30px;
    visibility: hidden;
    width: 200px;
    opacity: 0;
    transition: opacity 1s;
}
.tooltitle .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltitle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.ulnav {
    list-style: none;
    margin: 0;
    padding: 2px;
}
.ulnav > li {
    display: inline;
    list-style: none;
}
@media print {
    body {
        border: 1px solid dimgray;
        box-sizing: border-box;
    }

    header {
        border: 1px solid slategray;
        display: block;
    }

    nav {
        display: none;
    }

    aside {
        display: none;
    }

    footer {
        display: block;
    }

    #msgbar-toggle {
        display: none;
    }

    #nav-menu {
        display: none;
    }
}

.al {
    background-color: lightcyan; /*;lemonchiffon ivory;*/
    border: 1px solid steelblue !important;
}
.al:hover {
    background-color: lavender;
}
.alink {
    color: slategray;
    margin: 0 5px;
    text-decoration: none;
}
.alink:hover {
    text-decoration: underline;
}
.Feature {
    color: black;
    font-style: normal;
}
.Feature:hover {
    background-color: ivory;
    border-right: 3px solid forestgreen;
}
.feature {
    color: black;
}
.feature:hover {
    background-color: ivory;
    border-right: 3px solid forestgreen;
    color: forestgreen;
}
.FeatureLayer {
    color: black;
}
.FeatureLayer:hover {
    border-right: 1px solid forestgreen;
}
.FeatureServer {
    color: black;
}
.FeatureServer:hover {
    border-right: 2px solid fuchsia;
}
.Group {
    color: dimgray;
    font-style: italic;
}
.Group:hover {
    border-right: 1px solid gainsboro;
}
.ImageServer {
    color: black;
}
.ImageServer:hover {
    border-right: 2px solid indigo;
}
.imagery {
    color: black;
}
.imagery:hover {
    background-color: lavender;
    border-right: 5px solid indigo;
    color: indigo;
}
.Layer {
    font-size: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1px;
}
.MapServer {
    color: dimgray;
}
.MapServer:hover {
    border-right: 1px solid maroon;
}
.MapImageLayer {
    color: dimgray;
}
.MapImageLayer:hover {
    border-right: 1px solid maroon;
}
.map-image {
    color: dimgray;
}
.map-image:hover {
    color: maroon;
}
.Raster {
    color: black;
    font-style: normal;
}
.Raster:hover {
    /*background-color: antiquewhite;*/
    border-right: 3px solid royalblue;
    color: brown;
}
.sublayer {
    color: black;
    font-style: normal;
}
.sublayer:hover {
    background-color: lavender;
    border-right: 3px solid slateblue;
    color: midnightblue;
}
.TileLayer {
    color: black;
}
.TileLayer:hover {
    border-right: 1px solid teal;
}
.tile {
    color: black;
}
.tile:hover {
    border-right: 3px solid teal;
    color: teal;
}
.vague {
    background-color: gainsboro;
    color: gainsboro;
    margin: 5px 10%;
}
.bs-list {
    position: relative;
    height: auto;
    max-height: 80%;
    border: 1px solid silver;
    list-style-type: decimal;
    margin: 5px;
    /*padding-left: 10px; --PADDING KILLS LIST-STYLE*/
    overflow: auto;
}
.cat-list {
    position: relative;
    height: auto;
    max-height: 80%;
    border: 1px solid silver;
    list-style-type: decimal;
    margin: 5px;
    /*padding-left: 10px; --PADDING KILLS LIST-STYLE*/
    overflow: auto;
}
.cat-item {
    border: 1px solid ghostwhite;
    border-width: 1px 0;
    line-height: 150%;
    padding: 2px 0;
    margin-left: 10px;
}
.cat-item:hover {
    background-color: lavender;/*ivory*/
    border: 1px solid gainsboro;
    border-width: 1px 0;
}
.picked {
    background-color: aliceblue;
    border: 1px solid lightblue;
    border-width: 1px 0;
    font-weight: bold;
}
.msgx {
    display: none;
}
.qlik { /*asmalllinkbutton*/
    border: 1px solid lightblue;
    margin: 0 5px;
    padding: 1px 5px;
}
.qlik:hover {
    border: 1px solid steelblue;
}
.qliknon {
    border: 1px solid lightgray;
    opacity: 0.5;
}
.toggler {
    border: 1px solid silver;
    font-size: larger;
    font-weight: bolder;
    padding: 5px;
}

/* ******************************************
 * ESRI JSAPI SAMPLE CSSSTYLES
******************************************* */
/* 20180925 [Sketch temporary geometries](https://developers.arcgis.com/javascript/latest/sample-code/sketch-geometries/index.html)*/
#sketchbar {
    background: #fff;
    position: absolute;
    top: 12px;
    left: 50%;
    padding: 10px;
}
.action-button {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #D3D3D3;
    color: #6e6e6e;
    height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.action-button:hover,
.action-button:focus {
    background: #0079c1;
    color: #e4e4e4;
}
.active {
    background: #0079c1;
    color: #e4e4e4;
}
